build/**
CMakeFiles/**
MathsFunctions/CMakeFiles/**
.vscode/**
googletest/**
cmake_install.cmake
MathsFunctions/cmake_install.cmake
*Makefile
MathsFunctions/*Makefile
*HelloWorld
*CMakeCache.txt
MathsFunctions/libMathsFunctions.a